

-dontskipnonpubliclibraryclassmembers
-dontshrink
-dontoptimize

-overloadaggressively
-useuniqueclassmembernames
-flattenpackagehierarchy
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-adaptresourcefilecontents **.properties,META-INF/MANIFEST.MF,META-INF/spring.*

-keep,allowshrinking class com.ordint.tcpears.server.Main

-keep,allowshrinking class com.ordint.tcpears.domain.Position

-keep,allowshrinking class com.ordint.tcpears.domain.PositionDistanceInfo

-keep,allowshrinking class com.ordint.tcpears.domain.ClientDetails

-keep,allowshrinking class com.ordint.tcpears.service.AdministrationService

-keep,allowshrinking class org.springframework.beans.factory.annotation.Autowired

-keep,allowshrinking class org.springframework.beans.factory.annotation.Value

# Also keep - Enumerations. Keep the special static methods that are required in
# enumeration classes.
-keepclassmembers enum  * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}
-keepclassmembers class * {  
    @org.springframework.beans.factory.annotation.Autowired *;
    @org.springframework.beans.factory.annotation.Value *;
}

# Also keep - Database drivers. Keep all implementations of java.sql.Driver.
-keep class * extends java.sql.Driver

# Also keep - Swing UI L&F. Keep all extensions of javax.swing.plaf.ComponentUI,
# along with the special 'createUI' method.
-keep class * extends javax.swing.plaf.ComponentUI {
    public static javax.swing.plaf.ComponentUI createUI(javax.swing.JComponent);
}
