<configuration scan="false" debug="false">

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/tcpears.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element 
				or else the rollover logs are placed in the working directory. -->
			<fileNamePattern>logs/tcpears_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
    <appender name="INPUT" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>logs/input.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover. Make sure the path matches the one in the file element 
                or else the rollover logs are placed in the working directory. -->
            <fileNamePattern>logs/input_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS}  %msg%n</pattern>
        </encoder>
    </appender>	

 	<logger name="com.ordint" level="debug"> 
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="FILE" />
	</logger>
	
    <logger name="com.ordint.tcpears.domain.DefaultInputParser" level="debug" additivity="false"> 
        <appender-ref ref="INPUT" />
    </logger>
	
</configuration>